.container-princ1{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -9px 31px 26px -30px gray,
                inset -9px -31px 26px -30px gray;
}

.container-secu1{
    border: 2px solid orangered;
    height: 80%;
    width: 90%;
    background-color: #000000C2;
    box-shadow:  3px 2px 28px 0px gray;
    border-radius: 31px;
}

.container-secu1 h1{
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-left: 71px;
    margin-bottom: 0;
    
}

.container-secu2{
    display: flex;
    justify-content: space-around;
}

.container-secu2 p {
    width: 56vw;
    color: white;
    font-size: 1.1rem;
}

.foto-about{
    height: 35vh;
    border: 2px solid orangered;
    border-radius: 50%;
}

@media (max-width: 800px){
    .foto-about{
        display: none;
    }
    .container-secu2 p {
        width: 76vw;
        color: white;
        font-size: 0.85rem; 
    }
    .container-secu1 h1{
        margin-left: 31px;
    }
}

@media (max-width: 400px){
    .container-secu2 p {
        width: 76vw;
        color: white;
        font-size: 0.65rem; 
    }
    .container-secu1 h1{
        margin-left: 31px;
    }
}

