.contenedorContact {
  height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -9px 31px 26px -30px gray,
                inset -9px -31px 26px -30px gray;
}


.contenedorContactPrinc{
  height: 80%;
  width: 90%;
}

.contenedorContactPrinc h1{
  font-size: 54px;
  font-weight: 700;
  color: black;
  margin-left: 71px;
  margin-bottom: 0;
}

.contenedorContactSecu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.contenedorContactSecu h2{
  text-decoration: underline;
}