.container-num1{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -9px 31px 26px -30px gray,
                inset -9px -31px 26px -30px gray;
}

.container-secuNum1{
    border: 2px solid orangered;
    height: 80%;
    width: 90%;
    background-color: #000000C2;
    box-shadow:  3px 2px 28px 0px gray;
    border-radius: 31px;
}

.container-secuNum1 h1{
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-left: 71px;
    margin-bottom: 0;
    
}

.container-secuNum2{
    display: flex;
    justify-content: space-around;
}

.container-secuNum2 p {
    width: 56vw;
    color: white;
}

.container-secuNum2 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.container-secuNum2 ul li {
    color: white;
    list-style: circle;
    font-size: 20px;
}

.foto-studies{
    height: 35vh;
    border: 2px solid orangered;
    border-radius: 50%;
}

@media (max-width: 800px){
    .foto-studies{
        display: none;
    }
    .container-secuNum2 ul li {
        color: white;
        list-style: circle;
        font-size: 18px;
    }
}

@media (max-width: 400px){
    .container-secuNum2 ul li {
        font-size: 12px;
    }
}